# Config do Banco (Porta 3308 para não conflitar com locais)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=

# Nomes dos Bancos Lógicos
DB_NAME_AUTH=
DB_NAME_USERS=
DB_NAME_FINANCE=

# Redis
REDIS_HOST=
REDIS_PORT=

JWT_SECRET=
PORT=